
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo
*.pyd
*.pkl
*.log

.env/
.venv/
env/
venv/
ENV/


.ipynb_checkpoints


*.pt
*.pth


.vscode/
*.code-workspace


.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Build
build/
dist/
*.spec


.envrc
.env.local
.env.production
